@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}


body {
  height: 100vh;
  background-image: url(./img/map.jpeg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  max-width: 430px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
